@model QuanLyThuVien_N8.Models.NguoiDung

@{
    ViewBag.Title = "capnhatAnh";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<h2>Cập Nhật Ảnh Đại Diện</h2>

@using (Html.BeginForm("cnAnh", "ThuThu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Độc Giả</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.MSSV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MSSV)
            @Html.ValidationMessageFor(model => model.MSSV)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.TenDangNhap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenDangNhap)
            @Html.ValidationMessageFor(model => model.TenDangNhap)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.AnhDaiDien)
        </div>
        <img style="width:118px; height:118px" src="@Url.Content(@Model.AnhDaiDien)" />
        <br />
        <br />
        <div class="editor-field">
            <input type="file" name="file" id="file" />
        </div>
        <br />
        <p>
            <input type="submit" value="Lưu" />
        </p>
    </fieldset>
}
<p>
    @Html.ActionLink("Về trang tìm kiếm", "QLDGia")
</p>
